@import url("./CalendarSettings.css");

.calendar {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid var(--calendar-green-color);
  box-shadow: 0 0 5px var(--calendar-black-color);
}

.calendar-table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid var(--calendar-green-color);
  border-collapse: collapse;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--calendar-white-color);
  color: var(--calendar-black-color);
  font-size: 20px;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days a week */
  text-align: center;
}

.header-cell,
.cell {
  border-right: 1px solid var(--calendar-green-color);
  border-bottom: 1px solid var(--calendar-green-color);
  padding: 1px;
  border: 1px solid var(--calendar-green-color);
  text-align: center;
}

.cell {
  color: var(--calendar-black-color);
}

.header-cell {
  width: 14.3%; /* 100% divided by 7 days to distribute width equally */
  border-top: 1px solid var(--calendar-green-color);
  border-left: 1px solid var(--calendar-green-color);
}

.date-number.activity {
  color: var(--calendar-green-color);
}

.selected,
.cell:hover,
.cell:hover .date-number.activity {
  background-color: var(
    --calendar-green-color
  );
  color: var(--calendar-white-color);
}

.disabled {
  color: transparent;
}

h1 {
  font-family: var(--font-fjalla-one);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
  margin: 5px;
}

h2 {
  font-family: var(--font-libre-franklin);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  margin: 5px;
}

h3 {
  font-family: var(--font-libre-franklin);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-font-weight);
  margin: 5px;
}

th {
  font-family: var(--font-work-sans);
  font-size: var(--th-font-size);
  font-weight: var(--th-font-weight);
  box-sizing: border-box;
}

thead, th {
  box-sizing: border-box;
}

